<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h1 class="card-title text-center mb-4">Edit Entry</h1>
          <%= render 'form', submit_text: 'Update Entry' %>
        </div>
      </div>
    </div>
  </div>
</div>
